#carcasa{
    margin-left: 700px;
    width: 576px;
    height: 691px;
    border: 1px solid black;
    border-radius: 40px;
}

#partesuperior{
    height: 329.34px;
    width: 1000px;
    display: flex;
}

#partesuperiorcentral{
    height: 329.34px;
    width: 576px;
    display: grid;
    margin-left: -42px;
    grid-template-columns: 50px 450px 50px;
    grid-template-rows: 30px 300px;
    background-color: rgb(236, 236, 236);
    border-radius: 40px 40px 5px 5px;
    z-index: 2;
}

#partesuperiorizq, #partesuperiorder{
    height: 335px;
    width: 42px;
    border-radius: 40px 0px 0px 0px;
    background-color: rgb(77, 78, 78);
    z-index: 1;
}

#partesuperiorder{
    margin-left: -42px;
    border-radius: 0px 40px 0px 0px;
}

.centrosup{
    margin-left: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid black;
    border-radius: 15px 15px 5px 5px;
    box-shadow: inset 1px 0px 5px black;
}

.centro{
    width: 405px;
    height: 275px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
}

.ladosupizq{
    margin-left: 20px;
    justify-self: center;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 30px 240px 30px;
}

.ladosupder{
    margin-left: 20px;
    justify-self: center;
    grid-row: 2 / 3;
    grid-template-rows: 30px 240px 30px;
    display: grid;
}

.ladosup{
    grid-column: 1 / 4;
    align-items: center;
    place-self: center;
    display: flex;
}

.circulo{
    width: 8px;
    height: 8px;
    margin: 140px;
    border: 1px solid rgb(243, 217, 168);
    background-color: rgba(253, 255, 158, 0.89);
    border-radius: 50%;
    box-shadow: 1px 1px 5px 1px black;
}

.camara{
    width: 13px;
    height: 13px;
    border: 1px solid black;
    border-radius: 50%;
}

/* Posición de los altavoces y de los cuadrados*/
.altavoz{
    align-content: center;
    display: grid;
    grid-template-columns: 5px 5px 5px 5px 5px 5px 5px;
    grid-template-rows: 5px 5px 5px 5px 5px 5px 5px;
}
.altavoz1, .altavoz2, .altavoz3, .altavoz4, .altavoz5, .altavoz6,
.altavoz7, .altavoz8, .altavoz9{
    width: 3px;
    height: 3px; 
    border: 1px solid black;
    border-radius: 50%;
}
.altavoz1{
    grid-column: 4 / 8;
}

.altavoz2{
    grid-column: 2 / 8;
    grid-row: 2 / 8;
}

.altavoz3{
    grid-column: 6 / 8;
    grid-row: 2 / 8;
}

.altavoz4{
    grid-row: 4 / 8;
    grid-column: 1 / 8;
}

.altavoz5{
    grid-row: 6 / 8;
    grid-column: 6 / 8;
}

.altavoz6{
    grid-row: 6 / 8;
    grid-column: 2 / 8;
}

.altavoz7{
    grid-row: 4 / 8;
    grid-column: 4 / 8;
}

.altavoz8{
    grid-row: 7 / 8;
    grid-column: 4 / 8;
}

.altavoz9{
    grid-row: 4 / 8;
    grid-column: 7 / 8;
}

.cuadrado{
    width: 15px;
    height: 15px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px 0px black;
}

/* -------------------------------------- */
/* Parte central de la consola */
#partecentral{
    height: 40px;
    width: 590px;
    display: flex;
    margin-top: 5px;
    margin-left: -6px;
}

.lateralizq, .lateralder{
    width: 45px;
    height: 25px;
    border: 1px solid black;
    background: linear-gradient(rgb(236, 236, 236) 0%, white 50%, rgb(231, 230, 230) 100%);
}
.lateralizq{
    border-radius: 5px 0px 0px 5px;
}

.lateralder{
    border-radius: 0px 5px 5px 0px;
}
.barracentral{
    width: 492px;
    height: 30px;
    margin-top: -5px;
    border: 1px solid black;
    background: linear-gradient(rgb(212, 212, 212) 0%, white 50%, rgb(204, 204, 204) 100%);
}

/* -------------------------------------- */
/* Parte inferior de la consola */
#parteinferior{
    height: 329.34px;
    width: 576px;
    display: grid;
    margin-top: -13px;
    grid-template-columns: 130px 315px 130px;
    grid-template-rows: 30px 270px 30px ;
    background-color: rgb(236, 236, 236);
    border-radius: 5px 5px 40px 40px;
}

.ladoinfizq{
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    justify-self: center;
    display: grid;
    grid-template-rows: 70px 50px 70px;
}

.joystickext, .joystickint{
    border: 1px solid black;
    border-radius: 50%;
}

.joystickext{
    width: 70px;
    height: 70px;
    box-shadow: 0px 0px 10px 2px black;
    background-color: aliceblue;
}

.joystickint{
    width: 50px;
    height: 50px;
    margin-left: 9px;
    margin-top: 9px;
    box-shadow: inset 0px 0px 30px 1px black;
}

.cruceta{
    display: grid;
    grid-template-columns: 20px 20px 20px;
    grid-template-rows: 20px 20px 20px;
    margin-left: 5px;
    grid-row: 3 / 4;
    /* font-family: sans-serif;
    text-align: center;
    font-size: small; */
}

.cruz1, .cruz2, .cruz3, .cruz4, .cruz5{
    width: 20px;
    height: 20px;
}

.cruz1{ 
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.cruz2{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.cruz3{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.cruz4{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.cruz5{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
