body{
    display: grid;
    grid-template-columns: 700px 600px 300px;
    grid-template-rows: 50px 800px;
}

#carcasa{
    width: 576px;
    height: 691px;
    border-radius: 40px;
    grid-column: 2/3;
    grid-row: 2/3;
}

/* -------------------------------------- */
/* Parte superior de la consola */
#partesuperior{
    height: 329.34px;
    width: 577px;
    border-radius: 40px 40px 5px 5px;
    display: flex;
    transform-origin: bottom;
    transform: skewX(-2deg);
}

#partesuperiorcentral{
    height: 329.34px;
    width: 576px;
    display: grid;
    margin-left: -42px;
    grid-template-columns: 50px 450px 50px;
    grid-template-rows: 30px 300px;
    box-shadow: -5px -5px 20px 0px black;
    background: linear-gradient(to bottom, rgb(184, 184, 184), rgb(230, 230, 230));
    border-radius: 40px 40px 5px 5px;
    border: 1px solid black;
    z-index: 2;
}

#partesuperiorizq, #partesuperiorder{
    height: 335px;
    width: 42px;
    border-radius: 40px 0px 0px 0px;
    background-color: black;
    z-index: 0;
}

#partesuperiorder{
    margin-left: -15px;
    border-radius: 0px 40px 0px 0px;
}

/* Centro de la parte superior de la consola */
.centrosup{
    margin-left: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid black;
    border-radius: 15px 15px 5px 5px;
    box-shadow: inset 1px 0px 5px black;
}

.centro{
    width: 405px;
    height: 275px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: url(../img/images.jpg) no-repeat ;
    background-size: 100% 100%;
}

/* Laterales de la parte superior */
.ladosupizq{
    margin-left: 20px;
    justify-self: center;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 30px 240px 30px;
}

.ladosupder{
    margin-left: 20px;
    justify-self: center;
    grid-row: 2 / 3;
    grid-template-rows: 30px 240px 30px;
    display: grid;
}

.ladosup{
    grid-column: 1 / 4;
    align-items: center;
    place-self: center;
    display: flex;
}

/* Posición de los circulos superiores y de la cámara*/
.circulo{
    width: 8px;
    height: 8px;
    margin: 140px;
    border: 1px solid rgb(243, 217, 168);
    background: linear-gradient(rgba(253, 255, 158, 0.89) 0%, rgb(221, 224, 199) 50%, rgba(253, 255, 158, 0.89) 100%);
    border-radius: 50%;
    box-shadow: 1px 1px 5px 1px black;
}

.camara{
    width: 13px;
    height: 13px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px 3px black;
}

/* Posición de los altavoces y de los cuadrados*/
.altavoz{
    align-content: center;
    display: grid;
    grid-template-columns: 5px 5px 5px 5px 5px 5px 5px;
    grid-template-rows: 5px 5px 5px 5px 5px 5px 5px;
}

.altavoz1, .altavoz2, .altavoz3, .altavoz4, .altavoz5, .altavoz6,
.altavoz7, .altavoz8, .altavoz9{
    width: 2px;
    height: 2px; 
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
}

.altavoz1{
    grid-column: 4 / 8;
}

.altavoz2{
    grid-column: 2 / 8;
    grid-row: 2 / 8;
}

.altavoz3{
    grid-column: 6 / 8;
    grid-row: 2 / 8;
}

.altavoz4{
    grid-row: 4 / 8;
    grid-column: 1 / 8;
}

.altavoz5{
    grid-row: 6 / 8;
    grid-column: 6 / 8;
}

.altavoz6{
    grid-row: 6 / 8;
    grid-column: 2 / 8;
}

.altavoz7{
    grid-row: 4 / 8;
    grid-column: 4 / 8;
}

.altavoz8{
    grid-row: 7 / 8;
    grid-column: 4 / 8;
}

.altavoz9{
    grid-row: 4 / 8;
    grid-column: 7 / 8;
}

.cuadrado{
    width: 10px;
    height: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px 0px black;
}

/* Interruptor 3D */
.tresD{
    width: 5px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(228, 228, 228);
    margin-left: -5px;
    margin-top: 220px;
    z-index: 5;
    box-shadow: inset 1px 0px 2px black;
}

.tresDext{
    width: 10px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(228, 228, 228);
    margin-left: -15px;
    margin-top: 220px;
    z-index: 4;
    box-shadow: inset 1px 0px 2px black;
}

.tresDboton{
    width: 12px;
    height: 20px;
    margin-left: -11px;
    margin-top: 250px;
    border: 1px solid black;
    background-color: rgb(187, 187, 187);
    background: linear-gradient(rgb(168, 168, 168) 50%,rgb(207, 207, 207) 60%, rgb(145, 144, 144) 50%, rgb(168, 168, 168) 100%);
    z-index: 6;
}

.trianguloinv{
    margin-left: 3px;
    margin-top: 225px;
    border-top: 50px solid rgb(141, 141, 141);
    border-left: 15px solid transparent;
    z-index: 6;
}

.tresDtextobot, .tresDtextotop{
    z-index: 7;
    color: rgb(46, 46, 46)
}

.tresDtextotop{
    margin-left: -50px; 
    margin-top: 220px;
}

.tresDtextobot{
    margin-left: -30px; 
    margin-top: 265px;
}

/* -------------------------------------- */
/* Parte central de la consola */
#partecentral{
    height: 40px;
    width: 579px;
    display: flex;
    margin-top: 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: -10px -20px 20px 0px black;
}

.barracentral{
    width: 492px;
    height: 30px;
    margin-top: -5px;
    border: 1px solid black;
    background: linear-gradient(rgb(212, 212, 212) 0%, white 50%, rgb(204, 204, 204) 100%);
}

.lateralizq, .lateralder{
    width: 40px;
    height: 25px;
    border: 1px solid black;
    border-bottom: 1px solid transparent;
    background: linear-gradient(rgb(236, 236, 236) 0%, white 50%, rgb(231, 230, 230) 100%);
}

.lateralizq{
    border-radius: 5px 0px 0px 5px;
    box-shadow: -10px 17px 20px 0px black;
}

.lateralder{
    border-radius: 0px 5px 5px 0px;
}

.power{
    width: 4px;
    height: 15px;
    margin: 4px;
    margin-right: 10px;
    float: right;
    border: 1px solid black;
    background-color: black;
    border-radius: 25%;
}

.power:hover{
    background-color: rgb(96, 248, 66);
}

/* -------------------------------------- */
/* Parte inferior de la consola */
#parteinferior{
    height: 329.34px;
    width: 576px;
    display: grid;
    margin-top: -13px;
    grid-template-columns: 100px 370px 105px;
    grid-template-rows: 30px 270px 30px ;
    border: 1px solid black;
    border-top: 1px solid transparent;
    border-radius: 5px 5px 40px 40px;
    transform-origin: top;
    transform: skewX(2deg);
    box-shadow: -10px 10px 20px 0px black;
    background: linear-gradient(to top, rgb(187, 187, 187), rgb(230, 230, 230));
}

/* Centro de la parte inferior de la consola */
.centroinf{
    grid-row: 1/3;
    grid-column: 2/3;
}

.centro2{
    width: 350px;
    height: 285px;
    border: 10px solid rgb(204, 204, 204);
    border-radius: 5px;
    box-shadow: 2px 0px 2px 0px black;
    background: url(../img/inferiornintendo.png) no-repeat ;
    background-size: 100% 100%;
}

/* Botones inferiores de la consola*/
.ladoinf{
    width: 341px;
    grid-row: 3/4;
    grid-column: 2/3;
    margin-top: -5px;
    margin-left: -1px;
    display: grid;
    grid-template-columns: 110px 110px 110px 20px;
    border-top: 10px solid rgb(207, 207, 207);
    border-left: 20px solid rgb(207, 207, 207); 
    border-right: 10px solid rgb(207, 207, 207);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 2px 0px black;    
    background: linear-gradient(rgb(223, 223, 223) 0%,rgb(218, 218, 218) 20%, rgb(167, 167, 167) 70%, rgb(180, 180, 180) 80%);
}

.botoninf{
    padding: 5px;
    text-align: center;
    font-family: sans-serif;
    color: rgb(46, 46, 46);
    font-size: small;
    border: 1px solid black;
    border-radius: 5px 5px 2px 2px;
    cursor: pointer;
}

img{
    width: 12px;
    margin-right: 10px;
    margin-left: 4px;
}

.botonmic{
    height: 25px;
    font-family: sans-serif;
    font-size: 8px;
    text-align: right;
    border-radius: 0 0 50% 0;
    background-color: rgb(207, 207, 207);
}

.luzwifi{
    width: 5px;
    height: 3px;
    margin-top: 10px;
    margin-right: -4px;
    border: 1px solid black;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: right;
    background-color: black;
}

.luzwifi:hover{
    background-color: yellow;
}

/* Laterales de la consola (botones y joysticks) */

/* Parte izquierda de controles */
.ladoinfizq{
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    justify-self: center;
    display: grid;
    grid-template-rows: 70px 50px 70px;
}

.joystickext, .joystickint{
    border: 1px solid black;
    border-radius: 50%;
}

.joystickext{
    width: 70px;
    height: 70px;
    box-shadow: inset 0px 0px 4px 1px black;
}

.joystickint{
    width: 50px;
    height: 50px;
    margin-left: 9px;
    margin-top: 9px;
    box-shadow: inset 0px 0px 30px 1px black;
}

.cruceta, .crucetabotones{
    display: grid;
    grid-template-columns: 20px 20px 20px;
    grid-template-rows: 20px 20px 20px;
    justify-content: center;
    grid-row: 3 / 4;
    cursor: pointer;
}

.cruz1, .cruz2, .cruz3, .cruz4, .cruz5{
    width: 20px;
    height: 20px;
    font-family: sans-serif;
    text-align: center;
}

.cruz1{ 
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    box-shadow: 0px -1px 1px black;
}
.cruz2{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    transform: rotate(90deg);
    box-shadow: 0px 1px 0px 0px black;
}

.cruz3{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    box-shadow: 0px -1px 0px 0px black;
    transform: rotate(90deg);
}

.cruz4{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    grid-row: 3 / 4;
    grid-column: 2 / 3;   
    box-shadow: 0px 1px 2px black;
}

.cruz5{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.bcruz{
    position: relative;
    bottom: -4px;
}

/* Parte derecha de controles */

.ladoinfder{
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 70px 180px 30px 20px;
    grid-template-columns: 50px 50px;
}

.crucetabotones{
    gap: 5px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.botonX, .botonY, .botonA, .botonB{
    height: 20px;
    width: 23px;
    border: 1px solid black;
    border-radius: 50%;
    padding-top: 2px;
    text-align: center;
    font-size: smaller; 
    font-family: sans-serif;
    color: rgb(46, 46, 46);
    background: linear-gradient(rgb(212, 212, 212) 0%, white 50%, rgb(204, 204, 204) 100%);
    box-shadow: 1px 1px 2px 0px black;
}

.botonX{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.botonY{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.botonA{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
.botonB{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.botonpower{
    width: 20px;
    height: 18px;
    margin-left: 25px;
    grid-row: 3 / 4;
    border: 1px solid grey;
    border-radius: 50%;
    box-shadow: inset 0px 1px 3px 0px black;
}

p{
    grid-row: 3/4;
    grid-column: 2/3;
    margin-top: 5px;
    font-size: x-small;
    font-family: sans-serif;
    color: rgb(46, 46, 46)
}

.onoff, .cargador{
    width: 2px;
    height: 5px;
    border: 1px solid black;
    background-color: black;
}

.onoff{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    justify-self: end;
    margin: 15px;
}

.cargador{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    margin: 15px;
    margin-left: 0;
}